:root {
  --clr: #030c0e;
  --clr-lighten: #666666;
  --clr-primary: #FE4E00;
  --clr-primary-lighten: #FFD6C3;
  --bg: #FFFFFF;
  --bg-secondary: #F8F8F8;
  --bg-tertiary: #EFEFEF;
}

.dark-mode {
  --clr: #ebf4f1;
  --clr-lighten: #666666;
  --clr-primary: #FE4E00;
  --clr-primary-lighten: #FFD6C3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --bg-tertiary: #0d2538;
}



//main web colors
$clr: var(--clr);
$clr-lighten: var(--clr-lighten);
$clr-primary: var(--clr-primary);
$clr-primary-lighten: var(--clr-primary-lighten);
$bg: var(--bg);
$bg-secondary: var(--bg-secondary);
$bg-tertiary: var(--bg-tertiary);



//icons main colors
$black: var(--clr);
$orange: #FE4E00;
$blue: #164AFF;
$red: #ff4941;
$green: #48C37A;

