
//main web colors
$clr: #030c0e;
$clr-lighten: #666666;
$clr-primary: #FE4E00;
$clr-primary-lighten: #FFD6C3;
$bg: #FFFFFF;
$bg-secondary: #F8F8F8;
$bg-tertiary: #EFEFEF;



//icons main colors
$black: #000000;
$orange: #FE4E00;
$blue: #164AFF;
$red: #FE0000;
$green: #48C37A;

