@mixin fit-content{
  height:fit-content;
  width: fit-content;
}

@mixin vertical-scrollbar{
    &::-webkit-scrollbar{
      @apply rounded-md;
      width:.4rem;
    }
    &::-webkit-scrollbar-track{
      background-color: darken($bg-tertiary,5);
    }

    &::-webkit-scrollbar-thumb{
      border-radius: 2.5px;
      background-color: darken($bg-tertiary,40);

      &:hover{
        background-color: darken($bg-tertiary,40);
      }

    }
}
